* {
	margin: 0;
	padding: 0;
	cursor: default;
}

body {
	font: normal 18px/1.5em "Lucida Grande", Helvetica, sans-serif;
	color: #555;
}

strong {
	color: #555;
}

ol li {
	margin: 0.3em 0 0.9em 0.5em;
}

ul li {
	margin: 0.3em 0 0.9em 0.7em;
}

img {
	margin: 0.4em 0 0.8em;
}

a {
	color: #007aff;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 216px;
	padding: 8px 12px;
	overflow-y: auto;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#edeef1), to(#fff));
	background: -moz-linear-gradient(top, #EDEEF1, white);
	font-size: 10px;
}

#menu a {
	color: #666;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 4px 0;
}

#menu a.active {
	color: #000;
}

#menu ul {
	list-style: none;
}

#menu li {
	margin: 0;
	padding: 0 0 0 15px;
	position: relative;
}

#menu li ul {
	display: none;
}

#menu li.open>ul {
	display: block !important;
}

#menu li.openable {
	background: url(img/openable.png) 0 8px no-repeat;
}

.retina #menu li.openable {
	background-image: url(img/openable@2x.png);
	background-size: 10px 10px;
}

#menu li.openable.open {
	background: url(img/open.png) 0 8px no-repeat;
}

.retina #menu li.openable.open {
	background-image: url(img/open@2x.png);
	background-size: 10px 10px;
}

#menu li.add span {
	color: green;
	display: block;
}

#content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 240px;
	overflow-y: auto;
	padding: 0 32px 36px;
	background: #fff;
}

#content h1 {
	margin: 0 0 1em 0;
	font-size: 1.5em;
	font-weight: normal;
	color: #000;
	padding: 7px 0 9px 0px;
}

#content h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	margin: 1em 0 1em 0;
}

#content p {
	margin: 0 0 1.5em;
}

#content li li {
	margin: 0.3em 0 0.9em 0.5em;
}

#content ul, #content ul ul, #content ol ul {
	margin: 0.9em 0 0.9em 0.8em;
	list-style: disc;
}

#content .answer ul {
	list-style: disc;
}

#content li blockquote ul {
	list-style: square;
}

#content ol, #content ul ol, #content ol ol {
	margin: 0.9em 0 0.9em 1.3em;
}

#content ul p, #content ol p {
	margin: 0.3em 0 0.9em;
}

#content blockquote {
	margin: 0.5em 0 0.9em 1.3em;
}

#content ol.alpha {
	counter-reset: item;
	list-style-type: none;
	margin-left: 0;
}

#content ol.alpha>li {
	font-weight: bold;
	display: block;
	margin-left: 0;
}

#content ol.alpha>li:before {
	content: counter(item, upper-alpha) " - ";
	counter-increment: item;
}

#content ol.alpha>li>div {
	font-weight: normal;
	display: inline;
}

#content ol.alpha ul, #content ol.alpha ol {
	margin-left: 2.8em;
}

#content p.see {
	margin-top: 1.3em;
	margin-bottom: 0.3em;
	font-weight: bold;
	font-size: 10px;
}

#content p.also {
	margin: 0.2em 0 0.2em;
	font-size: 12px;
}

#content p>code {
	padding: 0.2em 0.4em;
	background: #e1e9ed;
}

pre, code, tt {
	font: 1em 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
	background: #e1e9ed;
}

code {
	font-family: Menlo, monospace;
	font-size: 90%;
}

.open .title {
	margin: 0 0 -5px 0;
}

.open .answer {
	display: block;
}

.hide, .show {
	float: right;
	font-size: 9px;
	font-weight: normal;
	color: #2a8adb;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.open .show {
	display: none;
}

.open .hide {
	display: block;
}

table {
	border: 1px solid rgba(0, 0, 0, 0.25);
	display: table;
	empty-cells: hide;
	margin: 1em 0 23px;
	padding: 0;
	table-layout: fixed
}

table th, table td {
	font-size: 13pt;
	line-height: 1.2em;
	padding: 0.5em 1em;
	margin: 1em 0;
}

table th {
	font-weight: 700;
}

table thead {
	background: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 1)
}

table tbody {
	background: rgba(0, 0, 0, 0.05)
}

table tfoot {
	background: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-top: 1px solid rgba(0, 0, 0, 0.2)
}

table tr:nth-child(odd), table th:nth-child(odd), table td:nth-child(odd) {
	background: rgba(255, 255, 255, 0.06)
}

table tr:nth-child(even), table td:nth-child(even) {
	background: rgba(0, 0, 0, 0.06)
}

table td.separator {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr {
	border-spacing: 0
}

caption {
	display: table-caption;
	font-weight: 700
}

col {
	display: table-column
}

colgroup {
	display: table-column-group
}

tbody {
	display: table-row-group
}

tfoot {
	display: table-footer-group
}

thead {
	display: table-header-group
}

td, th {
	display: table-cell
}

tr {
	display: table-row
}